<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Are you sure too delete <strong>{{inputTile.text}}</strong></h4>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteAccount()">YES</button>
  </div>